@import url(//fonts.googleapis.com/css?family=Cousine);@import url(//fonts.googleapis.com/css?family=Montserrat:600);@import url(//fonts.googleapis.com/css?family=Open+Sans);
.event-line-node { 
	font-family: Cousine;
	font-size: 17px;
	color: rgb(255, 255, 255);
}
.event-line-wrap { 
	background-color: rgb(0, 0, 0);
	padding-top: 30px;
	padding-bottom: 30px;
}
.event-line-wrap .artists { 
	color: rgb(0, 0, 0);
}
.countdown-block { 
	font-family: Montserrat;
	font-weight: 600;
	font-size: 21px;
	color: rgb(0, 0, 0);
	letter-spacing: 0px;
}
.event-line-wrap .event-line-countdown-wrap { 
	background-color: rgb(255, 255, 255);
}
ul.concerts-list { 
	border-top-color: rgba(255, 255, 255, 0);
}
ul.concerts-list li { 
	border-bottom-color: rgba(255, 255, 255, 0);
}
.events-bar { 
	border-top-color: rgba(255, 255, 255, 0);
	background-color: rgb(255, 255, 255);
}
span.events-bar-artists select { 
	border-color: rgb(0, 0, 0);
}
span.events-bar-title, span.events-bar-artists select { 
	font-family: Open Sans;
	font-size: 15px;
	color: rgb(0, 0, 0);
	letter-spacing: 0px;
}
span.events-bar-artists:after { 
	border-top-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
}
@media only screen and (min-width: 1024px){
        .event-line-wrap:hover{ background:rgb(0, 0, 0);}
        .event-line-wrap:hover .event-line-node{ color:rgb(255, 0, 0);}

        }.event-line-wrap .artists{ background-color:rgb(255, 255, 255)}