@import url(//fonts.googleapis.com/css?family=Cousine:400);@import url(//fonts.googleapis.com/css?family=Open+Sans:700);@import url(//fonts.googleapis.com/css?family=Montserrat:700,600);@import url(//fonts.googleapis.com/css?family=Cousine);@import url(//fonts.googleapis.com/css?family=Montserrat:600);@import url(//fonts.googleapis.com/css?family=Open+Sans);@import url(//fonts.googleapis.com/css?family=Cousine); 
#overlay { 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: initial;
	background-color: #000000;
}
#overlay .perspective { 
	background-attachment: initial;
	background-color: rgba(0, 0, 0, 0);
}

a,
code,
.tab-circle,
.wpb_content_element.circle a,
a.button-more,.pages a,
.pages .current,
.iron_widget_newsletter input[type="submit"]:hover,
.iron_widget_twitter .twitter-logo,
.iron_widget_twitter .twitter-logo-small,
.tab-circle,
a.sr_it-meta-author-link,
.post-categories a,
.post-tags a,
.comment-content a,
.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login,
.comment-meta a:hover,
.comment-reply-title small a:hover,
.comments-title,
.woocommerce-Reviews .comment-reply-title,
.woocommerce-Reviews .woocommerce-Reviews-title,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-parent > a,
.nav-menu .current-menu-ancestor > a,
.iron_widget_recent_tweets .meta .time a,
.carousel .sr_it-datetime,
.article .sr_it-datetime,
.sr_it-single-post time,
.meta .sr_it-datetime,
span.wpcf7-not-valid-tip-no-ajax,
.wpcf7-response-output,
.photos-list .hover-text span,
.contact-box .phone,
.error,
.success span,
.concerts-list .title-row .date,
.concerts-list .expanded .title-row .link,
.iron_widget_newsletter label span,
.concerts-list .title-row .link,
.icon-concert-dropdown,
li.expanded .title-row .icon-concert-dropdown,
.media-block a:hover .media-decoration.media-audio,
.media-block a:hover .media-decoration.media-audio,
.media-decoration.media-video,
.carousel .video-box .btn-play,
.terms-list small,
.terms-list [class^="icon-"],
.terms-list [class*=" icon-"],
.nm_mc_form .nm_mc_button:hover,
.footer-wrapper-backtotop:hover,
#sidebar .panel-action,
.tweet_text a,
.iron_widget_newsletter .nm_mc_button input[type="submit"]:hover,
#footer .iron_widget_newsletter input[type="submit"]:hover,
#footer .nm_mc_form input[type="submit"]:hover,
.iron_widget_newsletter input[type="submit"],
.nm_mc_form input[type="submit"],
.event-more-button,
.nav-menu li:hover > a,
ul.nav-menu li.menu-item ul.sub-menu li:hover > a,
ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover,
.nav-menu .has-drop-down ul a:hover,
.nav-menu li a.backbtn:hover,
.wpb_content_element a,
#sidebar .textwidget a,
.footer__widgets ul a,
.wooprice ins,
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price,
.woocommerce div.product span.price,
.woocommerce div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce #content div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page #content div.product p.price,
.wooprice,
.woocommerce .star-rating,
.woocommerce-page .star-rating,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li span,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li span,
.woocommerce table.cart a.remove,
.woocommerce #content table.cart a.remove,
.woocommerce-page table.cart a.remove,
.woocommerce-page #content table.cart a.remove,
.woocommerce .woocommerce-product-rating .star-rating,
.woocommerce-page .woocommerce-product-rating .star-rating,
.woo-thanks,
.infobox-icon,
a.back-btn,
.playlist_enabled .player-box .jp-playlist ul li .button,
.button.add_to_cart_button.product_type_simple,
.post-password-form input[type="submit"],
li:hover > .has-drop-down-a .sub-arrow i,
.social-networks a i:hover,
.side-menu .social-networks a i:hover,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt,
.shipping-calculator-button,
.articles-classic .text-box a:hover h2,
.articles-classic a.readmore-classic:hover,
article a.more-link:hover,
#commentform .form-submit #submit,
.stickypost i,
.simple-post-txt-wrap a:hover h2,
.portfolio .portfolio-prev:hover .prev-text,
.portfolio .portfolio-next:hover .next-text,
.portfolio .portfolio-prev:hover i.fa-long-arrow-left,
.portfolio .portfolio-next:hover i.fa-long-arrow-right,
.portfolio .portfolio-mid-wrap i.fa-th:hover,
.player-title-box .track-name,
.audio-holder .jp-playlist ul.tracks-list li.jp-playlist-current div a, .articles-classic .post-categories a:hover, .articles-classic .post-tags a:hover,
.sr_it-videolist-list article:hover i, .sr_it-videolist-list article:hover .sr_it-videolist-item-artist, .sr_it-videolist-list article:hover .sr_it-videolist-item-date, .sr_it-videolist-list article:hover .sr_it-videolist-item-title { 
	color: rgb(255, 0, 0);
}

.panel-action:hover,
.album-overlay,
.pages .current,
.media-block a:hover,
.pages a:hover,
a.button-more:hover,
.type-album .tracks-block .player-box,
.iron_widget_newsletter,
.iron_widget_newsletter input[type="email"],
.nm_mc_form input[type="text"],
#footer .newsletter-wrap,
.concerts-list .title-row:hover .buttons .button,
.album-overlay,
.carousel .btn-prev:hover,
.carousel .btn-next:hover,
.carousel .slide a:hover,
.concert-box .hover-box,
.article a:hover,
.pages .current,
.pages a:hover,
.button-more:hover,
a.button,
.comment-form #submit,
.wpcf7-submit,
.filters-block a.active,
.form input[type="submit"],
.concerts-list .title-row .time,
.concerts-list .title-row.has_countdown:hover .buttons,
.concerts-list .expanded .title-row .button,
.concerts-list .expanded .title-row:after,
.iron_widget_newsletter input[type="submit"]:focus,
.iron_widget_newsletter input[type="submit"]:hover,
.select-options .item-selected a,
.concerts-list .expanded .title-row .opener:hover:after,
.concerts-list .title-row .button,
.media-decoration.media-audio,
.tracks-list .btn-play [class^="icon-"],
.tracks-list .btn-play [class*=" icon-"],
.tracks-list .btn-pause [class^="icon-"],
.tracks-list .btn-pause [class*=" icon-"],
.player-box a:hover [class^="icon-"],
.player-box a:hover [class*=" icon-"],
.social-networks a:hover [class^="icon-"],
.social-networks a:hover [class*=" icon-"],
.carousel .video-box .icon-play,
.search-form input[type="submit"],
.news-grid-wrap a:hover,
.iron_widget_videos .video-list article a:hover,
a.back-btn:hover,
.photo-wrap:hover .tab-text,
.videogrid:hover .text-box,
.page-template-archive-video .media-block:hover .text-box,
.playlist_enabled .player-box .jp-playlist ul li .button:hover,
.button.add_to_cart_button.product_type_simple:hover,
.post-password-form input[type="submit"]:hover,
.title-row.no-countdown:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce table.cart a.remove:hover,
.woocommerce #content table.cart a.remove:hover,
.woocommerce-page table.cart a.remove:hover,
.woocommerce-page #content table.cart a.remove:hover,
.shipping-calculator-button:hover,
.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li span.current,
.playlist_enabled .player-box .jp-playlist ul li:hover,
.woocommerce-message .button.wc-forward:hover,
#commentform .form-submit #submit:hover,
.news-grid-wrap a.sticky,
.news-grid-wrap.isotope-item a.sticky,
ins,.mc4wp-form input[type=submit],
.woocommerce span.onsale,
.woocommerce-page span.onsale { 
	background-color: rgb(255, 0, 0);
}

.tab-circle,a.button-more,
.tab-circle,
input.error,
.event-more-button,
.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-message,
.chosen-container-active .chosen-single,
a.back-btn,
.playlist_enabled .player-box .jp-playlist ul li .button,
.button.add_to_cart_button.product_type_simple,
.post-password-form input[type="submit"],
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt
.shipping-calculator-button,
.articles-classic a.readmore-classic:hover,
article a.more-link:hover,
#commentform .form-submit #submit,
.page-template-archive-posts-classic-php .media-block.sticky  .holder,
.portfolio .portfolio-rightside a.portfolio-button,
.sr_it-videolist-list article:hover i { 
	border-color: rgb(255, 0, 0);
}

	.media-block a,
	.event-row,
	.type-album .text-box,
	.tracks-list > li,
	.panel-action,
	.iron_widget_twitter .panel__body,
	.iron_widget_twitter .panel-action,
	.iron_widget_radio .panel__body,
	.photo-wrap .photo-album-tab,
	.news-grid-wrap a,
	.container .iron_widget_newsletter,
	.container .newsletter-wrap,
	.videogrid,
	.iron_widget_videos .video-list article a,
	.articles-classic .media-block .holder,
	.pages a { 
	background-color: #000000;
}

#sidebar .panel-action:hover,
.iron_widget_newsletter .newsletter-wrap nm_mc_button,
.iron_widget_newsletter input[type="submit"]:hover,
a.button:hover,
.wpb_accordion_section a,
.ui-tabs-anchor { 
	background-color: rgb(135, 0, 0);
}

.comment-respond,
.container .iron_widget_newsletter input[type="email"],
.container .nm_mc_form input[type="text"],
.container .iron_widget_newsletter input[type="submit"],
.container .nm_mc_form input[type="submit"],
.post-password-form input[type="password"],
.wpb_tabs_nav { 
	border-color: rgb(135, 0, 0);
}

.iron_widget_newsletter input[type="email"],
.nm_mc_form input[type="text"],
.nm_mc_form label,
#footer .iron_widget_newsletter input[type="submit"],
#footer .nm_mc_form input[type="submit"],
.countdown-section,
.countdown-amount,
.countdown-period,
.footer-block .social-networks a,
.footer__widgets,
.footer-row,
.footer__widgets > .iron_widget_newsletter .control-label,
.footer__widgets > .iron_widget_newsletter .form-control,
.footer-row ul,
.footer-row ul a,
.concerts-list .title-row .open-link,
.concerts-list .title-row .button:hover,
.panel__heading,
.panel__footer,
.title-box,
.title-box h2,
.carousel .btn-prev:hover,
.carousel .btn-next:hover,
.media-decoration.media-audio,
#header,
.iosSlider .slider .item .inner .text1 span,
.iosSlider .slider .item .inner .text2 span,
a.button:hover,
.concerts-list,
.title-row:hover .icon-concert-dropdown,
.concerts-list .title-row:hover .button:hover,
.concerts-list .expanded .title-row .button:hover,
.concerts-list .title-row .opener,
.album-listen,
.circle,
.tracks-list,
.tracks-list .button,
.tracks-list .btn-play,
.tracks-list .btn-pause,
.gallery-caption,
.pages .current,
.pages a:hover,
a.button-more:hover,
.pages .current,
.form input[type="submit"]:hover,
.comment-form #submit,
.wpcf7-submit,
.comment-form #submit:hover,
.wpcf7-submit:hover,
.concert-box .time,
.video-box .hover-box,
.video-box h2,
.video-box .icon-play,
.pages .current,
.pages a:hover,
.button-more:hover,
.concerts-list .title-row.has_countdown:hover .button:hover,
.concerts-list .title-row.has_countdown:hover .buttons .button,
.iron_widget_newsletter .form-status,
.concerts-list .title-row .button,
.footer__widgets .iron_widget_radio .info-box,
#footer .tweet_text,
#footer .nm_mc_error
#footer .textwidget,
#footer .newsletter-title-wrap h3,
#footer .newsletter-description-wrap,
#footer .newsletter-description-wrap p,
a.button,
play-button,
.darker-overlay h1,
.darker-overlay h2,
.darker-overlay h3,
.darker-overlay h4,
.darker-overlay h5,
.darker-overlay h6,
#footer .wp-calendar,
#footer p,
#footer ul,
#footer li,
#footer dl,
#footer dt,
#footer dd,
#footer ol,
#footer pre,
#footer tr,
#footer td,
#footer th,
#sidebar .button.wc-forward,
.post-password-form input[type="password"],
#footer .iron_widget_newsletter .newsletter-wrap .control-description,
#footer .iron_widget_newsletter .nm_mc_button:hover { 
	color: #ffffff;
}
#footer ::-webkit-input-placeholder { 
	color: #ffffff;
}
#footer :-moz-placeholder { 
	color: #ffffff;
}
#footer ::-moz-placeholder { 
	color: #ffffff;
}
#footer :-ms-input-placeholder { 
	color: #ffffff;
}
.photo-wrap:hover .tab-circle, .comment-list > li:after, .comment-list .children > li:before, .comment-reply-title, .woocommerce-page.single-product div.product .woocommerce-Tabs-panel--additional_information.panel, .single-product table.shop_attributes, .woocommerce-page #reviews #comments ol.commentlist li .comment-text, .sr_it-videolist-list li, .sr_it-videolist-list i { 
	border-color: #ffffff;
}

body,
.video-post,
.sr_it-single-post h2,
.concerts-list .title-row .sr_it-datetime,
.event-row .sr_it-datetime,
.type-album .text-box h2,
.tab-title,
.tab-title .excerpt,
.tracks-list .name,
.comment-reply-title,
h2.widgettitle,
#sidebar .panel__heading,
#sidebar .panel__heading h3,
.media-block .sr_it-datetime,
.media-block .meta-simple,
.media-block .category,
.form input[type="submit"],
.concerts-list .title-row .time,
.concerts-list .expanded .title-row .button,
.post_grid .tab-text time.sr_it-datetime,
h1,
h3.widgettitle,
.excerpt p,
.tweet_text,
.content-box,
.available-now,
.release-date,
.container .nm_mc_form input[type="text"],
.container .nm_mc_form label,
.container .nm_mc_error,
#sidebar .nm_mc_error,
.event-row .button,
.media-block h2,
.tracks-list > li:before,
.tab-date,
.videogrid .text-box h2,
.control-description,
.wpb_content_element,
.photo-wrap:hover .tab-circle,
.lighter-overlay h1,
.lighter-overlay h2,
.lighter-overlay h3,
.lighter-overlay h4,
.lighter-overlay h5,
.lighter-overlay h6,
.news-grid-wrap a:hover time,
.news-grid-wrap a:hover .sr_it-meta-author-link,
.news-grid-tab .sr_it-datetime,
.news-grid-tab .sr_it-meta-author-link,
.news-grid-tab .post-categories,
.news-grid-tab .post-tags,
.news-grid-wrap a:hover .post-categories,
.news-grid-wrap a:hover .post-tags,
#sidebar .textwidget,
ul,
li,
dl,
dt,
dd,
ol,
pre,
tr,
td,
th,
.wooprice del,
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.description_tab,
.reviews_tab,
h3,
.news-grid-wrap a.sticky,
.news-grid-wrap.isotope-item a.sticky,
.portfolio-sidetitle,
.portfolio-sidelist,
.portfolio .portfolio-prev .prev-text,
.portfolio .portfolio-next .next-text,
.portfolio .portfolio-prev i.fa-long-arrow-left,
.portfolio .portfolio-next i.fa-long-arrow-right,
.portfolio .portfolio-mid-wrap i.fa-th,
.panel-action:hover,
.sr_it-videolist-list i, .sr_it-videolist-item-title, .sr_it-videolist-item-artist, .sr_it-videolist-item-date { 
	color: #ffffff;
}
::-webkit-input-placeholder { 
	color: #ffffff;
}
:-moz-placeholder { 
	color: #ffffff;
}
::-moz-placeholder { 
	color: #ffffff;
}
:-ms-input-placeholder { 
	color: #ffffff;
}

.side-menu,
.nav-menu .sub-menu,
.nav-menu .children { 
	background-attachment: initial;
	background-color: #000000;
}
ul.header-top-menu { 
	background-color: rgba(255, 255, 255, 0);
}
.fill-menuicon { 
	fill: #ffffff;
}
.menu-toggle.toggled span { 
	background-color: #ffffff;
}
ul.header-top-menu li a { 
	font-size: 16px;
}
.responsive-header a.sandwich-icon { 
	color: #ffffff;
}
.responsive-header a.sandwich-icon:hover { 
	color: #ffffff;
}
.sub-arrow i, .side-menu .social-networks a i { 
	color: #ffffff;
}
body, .entry p, .single-product th, .single-product td, .single-product tr, .comment-text { 
	font-family: Cousine;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}
.nav-menu li a { 
	font-family: Open Sans;
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 2px;
	margin-bottom: 2px;
}
h1 { 
	font-family: Montserrat;
	font-weight: 700;
	font-size: 54px;
	line-height: 53px;
	color: #ffffff;
	letter-spacing: 0px;
}
h2, .sr_it-single-post h2, .text-box h2, .video-box h2, .title-box h2, .type-album .text-box h2 { 
	font-family: Montserrat;
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	color: #ffffff;
}
h3, h3.widgettitle, .sr_it-playlist-title { 
	font-family: Montserrat;
	font-weight: 700;
	font-size: 30px;
	line-height: 32px;
	color: #ffffff;
}
h4 { 
	font-family: Cousine;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	letter-spacing: 0px;
	border-color: #ffffff;
}
h5 { 
	font-family: Cousine;
	font-weight: 400;
	letter-spacing: 0px;
}
h6 { 
	font-family: Cousine;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 0px;
}
.news .media-block h2, .iron_widget_recent_posts .news .media-block h2, .videogrid .text-box h2, .news-grid-tab, .news-grid-tab h2, .news-grid-tab .tab-title, .articles-classic .text-box h2 { 
	color: #ffffff;
}
a.panel-action.panel-action__label { 
	font-family: Montserrat;
	font-weight: 600;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	letter-spacing: 0px;
}
a.button-widget { 
	letter-spacing: 1px;
}
h2 { 
	letter-spacing: 0px;
}
h3 { 
	letter-spacing: 0px;
}
span.heading-t, span.heading-b { 
	background-color: #ffffff;
}
span.heading-t3, span.heading-b3 { 
	background-color: #ffffff;
}
.lighter-overlay span.heading-t, .lighter-overlay span.heading-b { 
	background-color: #ffffff;
}
.lighter-overlay span.heading-t3, .lighter-overlay span.heading-b3 { 
	background-color: #ffffff;
}
.darker-overlay span.heading-t, .darker-overlay span.heading-b { 
	background-color: #ffffff;
}
.darker-overlay span.heading-t3, .darker-overlay span.heading-b3 { 
	background-color: #ffffff;
}
.single-album .sr_it-single-post.featured, .single-album #sidebar { 
	background-color: #000000;
}
.classic-menu { 
	width: calc( 100% - 40px - 40px );
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	margin-bottom: 100px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.classic-menu > ul > li { 
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.classic-menu > ul > li a { 
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.classic-menu .logo { 
	padding-left: 30px;
	padding-top: 0px;
	padding-right: 45px;
	padding-bottom: 0px;
}
.responsive-header { 
	background-color: #000000;
}
.listing-section .holder:hover h2 { 
	color: #ffffff;
}
.news-grid-wrap a:hover .tab-title { 
	color: #ffffff;
}
.classic-menu.mini { 
	background-color: #000000;
}
.classic-menu > ul > li a, .classic-menu > ul > li.languages-selector > ul > li a { 
	font-family: Cousine;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: #ffffff;
}
.classic-menu > ul > li > ul > li a { 
	color: #ffffff;
	background-color: #000000;
}
.classic-menu > ul > li a:hover, .classic-menu > ul > li.languages-selector > ul > li a:hover { 
	background-color: rgb(135, 0, 0);
	color: #ffffff;
}
.classic-menu > ul > li.current-menu-item > a[href*="#"] { 
	font-family: Cousine;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: #ffffff;
}
.classic-menu > ul > li.current-menu-item > a[href*="#"]:hover { 
	background-color: rgb(135, 0, 0);
	color: #ffffff;
}
.classic-menu > ul > li.current-menu-item > a { 
	background-color: rgba(115, 173, 155, 0);
	color: #dbdbdb;
}
.classic-menu > ul > li.current-menu-ancestor > a { 
	background-color: rgba(115, 173, 155, 0);
	color: #dbdbdb;
}
.classic-menu > ul > li > ul > li a:hover { 
	background-color: rgb(135, 0, 0);
	color: #ffffff;
}
.classic-menu > ul > li > ul > li.current-menu-item > a { 
	background-color: rgba(0, 0, 0, 0.7);
	color: #ffffff;
}
.classic-menu > ul > li > a, .classic-menu > ul > li.languages-selector a { 
	letter-spacing: 3px;
}
.classic-menu ul.sub-menu li a { 
	letter-spacing: 3px;
}
.menu-item a:hover { 
	text-decoration: none;
}
.color1_txt, .color1_txt p { 
	color: rgb(255, 0, 0);
}
.color1_bg { 
	background-color: rgb(255, 0, 0);
}
.color3_txt, .color3_txt p { 
	color: #000000;
}
.color3_bg { 
	background-color: #000000;
}
.color4_txt, .color4_txt p { 
	color: rgb(135, 0, 0);
}
.color4_bg { 
	background-color: rgb(135, 0, 0);
}
.color5_txt { 
	color: #ffffff;
}
.color5_bg { 
	background-color: #ffffff;
}
.color6_txt { 
	color: #ffffff;
}
.color6_bg { 
	background-color: #ffffff;
}
.menu-toggle span { 
	background-color: #ffffff;
}
ul.header-top-menu li a{color:#ffffff;}.menu-toggle-off polygon{
	fill:#ffffff;
} 
.event-line-node { 
	font-family: Cousine;
	font-size: 17px;
	color: rgb(255, 255, 255);
}
.event-line-wrap { 
	background-color: rgb(0, 0, 0);
	padding-top: 30px;
	padding-bottom: 30px;
}
.event-line-wrap .artists { 
	color: rgb(0, 0, 0);
}
.countdown-block { 
	font-family: Montserrat;
	font-weight: 600;
	font-size: 21px;
	color: rgb(0, 0, 0);
	letter-spacing: 0px;
}
.event-line-wrap .event-line-countdown-wrap { 
	background-color: rgb(255, 255, 255);
}
ul.concerts-list { 
	border-top-color: rgba(255, 255, 255, 0);
}
ul.concerts-list li { 
	border-bottom-color: rgba(255, 255, 255, 0);
}
.events-bar { 
	border-top-color: rgba(255, 255, 255, 0);
}
span.events-bar-artists select { 
	border-color: rgb(0, 0, 0);
}
.events-bar, .events-bar select { 
	background-color: rgb(255, 255, 255);
}
span.events-bar-title, span.events-bar-artists select { 
	font-family: Open Sans;
	font-size: 15px;
	color: rgb(0, 0, 0);
	letter-spacing: 0px;
}
span.events-bar-artists:after { 
	border-top-color: rgb(0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
}
@media only screen and (min-width: 1024px){
.event-line-wrap:hover{ background:rgb(0, 0, 0);}
.event-line-wrap:hover .event-line-node{ color:rgb(255, 0, 0);}

}.event-line-wrap .artists{ background-color:rgb(255, 255, 255)} 
.iron-audioplayer  .playlist .audio-track path,.iron-audioplayer  .playlist .audio-track rect { 
	fill: rgb(255, 255, 255);
}
.iron-audioplayer  .playlist a { 
	color: rgb(255, 255, 255);
}
.iron-audioplayer .playlist .current .audio-track { 
	color: rgb(255, 255, 255);
}
.iron-audioplayer  .playlist .audio-track, .iron-audioplayer  .playlist .track-number, .iron-audioplayer .sr_it-playlist-title { 
	font-family: Cousine;
	font-size: 18px;
	color: rgb(255, 255, 255);
}
.artist_player .player .control .previous, .artist_player .player .control .next, .artist_player .player .control .play { 
	fill: rgb(255, 255, 255);
}
.artist_player .playerNowPlaying .metadata { 
	font-family: Cousine;
	font-size: 23px;
	color: rgb(255, 255, 255);
}
.artist_player .album-title { 
	color: rgb(255, 255, 255);
}
.iron-audioplayer .control rect, .iron-audioplayer .control path, .iron-audioplayer .control polygon { 
	fill: rgb(255, 255, 255);
}
#sonaar-player .playerNowPlaying .metadata, #sonaar-player .playlist .tracklist li { 
	font-family: Cousine;
	font-size: 23px;
	color: rgb(255, 255, 255);
}
#sonaar-player .album-title { 
	color: rgb(255, 255, 255);
}
#sonaar-player .player, #sonaar-player .store { 
	background-color: rgb(0, 0, 0);
}
#sonaar-player .player { 
	border-color: rgb(255, 0, 0);
}
#sonaar-player .close.btn-player { 
	background-color: rgb(255, 0, 0);
}
#sonaar-player .playlist h1 { 
	color: rgb(255, 0, 0);
}
#sonaar-player .playlist button.play { 
	background-color: rgb(255, 0, 0);
	color: rgb(0, 0, 0);
}
#sonaar-player .playlist .tracklist li, #sonaar-player .playlist .tracklist li a, #sonaar-player .player .store .track-store li a { 
	color: rgb(255, 255, 255);
}
#sonaar-player .playlist .tracklist li.active, #sonaar-player .playlist .tracklist li.active a { 
	color: rgb(255, 0, 0);
}
#sonaar-player { 
	background-color: rgba(0, 0, 0, 0.90);
}
.playlist .sr_it-playlist-title, .sr_it-playlist-artists, .sr_it-playlist-release-date { 
	color: rgb(255, 255, 255);
}
#sonaar-player .control polygon, #sonaar-player .control path, #sonaar-player .control rect, #sonaar-player .control rect, #sonaar-player .control path, #sonaar-player .control polygon { 
	fill: rgb(255, 255, 255);
}
#sonaar-player .playlist .track-number svg path, #sonaar-player .playlist .track-number svg rect { 
	fill: rgb(255, 255, 255);
}
#sonaar-player .control rect, #sonaar-player .control path, #sonaar-player .control polygon { 
	fill: rgb(255, 255, 255);
}
#sonaar-player .close.btn-player rect { 
	fill: rgb(0, 0, 0);
}
#sonaar-player .close.btn-player.enable:after { 
	border-color: rgb(0, 0, 0);
}
@media only screen and (max-width: 860px){
#sonaar-player{
    background-color: rgba(0, 0, 0, 1);
}
#sonaar-player .playlist h1{
    background:rgb(0, 0, 0)
}
}