@import url(//fonts.googleapis.com/css?family=Cousine:Array,Array,Array);
.iron-audioplayer  .playlist .audio-track path,.iron-audioplayer  .playlist .audio-track rect { 
	fill: rgb(255, 255, 255);
}
.iron-audioplayer  .playlist a { 
	color: rgb(255, 255, 255);
}
.iron-audioplayer .playlist .current .audio-track { 
	color: rgb(255, 255, 255);
}
.iron-audioplayer  .playlist .audio-track, .iron-audioplayer  .playlist .track-number, .iron-audioplayer .sr_it-playlist-title { 
	font-family: Cousine;
	font-size: 18px;
	color: rgb(255, 255, 255);
}
.artist_player .player .control .previous, .artist_player .player .control .next, .artist_player .player .control .play { 
	fill: rgb(255, 255, 255);
}
.artist_player .playerNowPlaying .metadata { 
	font-family: Cousine;
	font-size: 23px;
	color: rgb(255, 255, 255);
}
.artist_player .album-title { 
	color: rgb(255, 255, 255);
}
.iron-audioplayer .control rect, .iron-audioplayer .control path, .iron-audioplayer .control polygon { 
	fill: rgb(255, 255, 255);
}
#sonaar-player .playerNowPlaying .metadata, #sonaar-player .playlist .tracklist li { 
	font-family: Cousine;
	font-size: 23px;
	color: rgb(255, 255, 255);
}
#sonaar-player .album-title { 
	color: rgb(255, 255, 255);
}
#sonaar-player .player, #sonaar-player .store { 
	background-color: rgb(0, 0, 0);
}
#sonaar-player .player { 
	border-color: rgb(255, 0, 0);
}
#sonaar-player .close.btn-player { 
	background-color: rgb(255, 0, 0);
}
#sonaar-player .playlist h1 { 
	color: rgb(255, 0, 0);
}
#sonaar-player .playlist button.play { 
	background-color: rgb(255, 0, 0);
	color: rgb(0, 0, 0);
}
#sonaar-player .playlist .tracklist li, #sonaar-player .playlist .tracklist li a, #sonaar-player .player .store .track-store li a { 
	color: rgb(255, 255, 255);
}
#sonaar-player .playlist .tracklist li.active, #sonaar-player .playlist .tracklist li.active a { 
	color: rgb(255, 0, 0);
}
#sonaar-player { 
	background-color: rgba(0, 0, 0, 0.90);
}
.playlist .sr_it-playlist-title, .sr_it-playlist-artists, .sr_it-playlist-release-date { 
	color: rgb(255, 255, 255);
}
#sonaar-player .control polygon, #sonaar-player .control path, #sonaar-player .control rect, #sonaar-player .control rect, #sonaar-player .control path, #sonaar-player .control polygon { 
	fill: rgb(255, 255, 255);
}
#sonaar-player .playlist .track-number svg path, #sonaar-player .playlist .track-number svg rect { 
	fill: rgb(255, 255, 255);
}
#sonaar-player .control rect, #sonaar-player .control path, #sonaar-player .control polygon { 
	fill: rgb(255, 255, 255);
}
#sonaar-player .close.btn-player rect { 
	fill: rgb(0, 0, 0);
}
#sonaar-player .close.btn-player.enable:after { 
	border-color: rgb(0, 0, 0);
}
@media only screen and (max-width: 860px){
        #sonaar-player{
            background-color: rgba(0, 0, 0, 1);
        }
        #sonaar-player .playlist h1{
            background:rgb(0, 0, 0)
        }
        }