$color-accent: #01455d;
$color-theme-accent:#00c78f;
$color-bg-checkbox:#20a198;
$body-bg: rgba(0, 0, 0, 0.85);
$shape-color: #ecf0f1;
$break-large:1600px;
$break-medium: 1200px;
$break-small: 768px;
$break-xsmall: 340px;

.rd-container {
	z-index: 999999999;
}
/* visual composer */
#wpwrap .wpb_content_element > .wpb_element_wrapper {
    height:inherit!important;
    min-height:inherit!important;
	background-repeat:no-repeat;
	background-position:15px 15px;
}

.wpb_content_element.wpb_iron_audioplayer > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_audio_player,
.wpb_content_element.wpb_iron_soundcloud > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_audio_player{
	background: url(../img/vc/VC_icon_audioplayer.png);
}

.wpb_content_element.wpb_iron_discography > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_discography,
.wpb_content_element.wpb_iron_grid > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_discography{
	background: url(../img/vc/VC_icon_discography.png);
}
.wpb_content_element.wpb_iron_twitter > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_twitter {
	background: url(../img/vc/VC_icon_twitter.png);
}
.wpb_content_element.wpb_iron_posts > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_news {
	background: url(../img/vc/VC_icon_news.png);
}
.wpb_content_element.wpb_iron_recentvideos > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_videos {
	background: url(../img/vc/VC_icon_video.png);
}
.wpb_content_element.wpb_iron_featuredphotos> .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_photos {
	background: url(../img/vc/VC_icon_photo.png);
}
.wpb_content_element.wpb_iron_photo_albums > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_photo_albums {
	background: url(../img/vc/VC_icon_photoalbum.png);
}
.wpb_content_element.wpb_iron_iosslider > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_iosslider {
	background: url(../img/vc/VC_icon_iosslider.png);
}
.wpb_content_element.wpb_iron_button > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.wpb_iron_button {
	background: url(../img/vc/VC_icon_iosslider.png);
}
.wpb_content_element.wpb_iron_image_divider > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.wpb_iron_image_divider {
	background: url(../img/vc/VC_icon_iosslider.png);
}
.wpb_content_element.wpb_iron_events > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_events {
	background: url(../img/vc/VC_icon_events.png);
}
.wpb_content_element.wpb_iron_newsletter > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_newsletter {
	background: url(../img/vc/VC_icon_newsletter.png);
}
.wpb_content_element.wpb_iron_promotion > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_promobox {
	background: url(../img/vc/VC_icon_promobox.png);
}
.wpb_content_element.wpb_iron_countdown > .wpb_element_wrapper .vc_element-icon,
.wpb-content-layouts i.iron_vc_icon_countdown {
	background: url(../img/vc/VC_icon_countdown.png);
}

[data-element="4k_icon"] .vc_element-icon,
.wpb_content_element.wpb_4k_icon > .wpb_element_wrapper .vc_element-icon{
	background: url(../img/vc/VC_icon_4kicons.png)!important;
}

/* Remove Visual Composer Junk */
.wpb_element_wrapper .wpb_vc_param_value.now_time_type.dropdown,
.wpb_element_wrapper .wpb_vc_param_value.show_months.dropdown,
.wpb_element_wrapper .wpb_vc_param_value.show_days.dropdown,
.wpb_element_wrapper .wpb_vc_param_value.show_hours.dropdown,
.wpb_element_wrapper .wpb_vc_param_value.show_minutes.dropdown,
.wpb_element_wrapper .wpb_vc_param_value.show_seconds.dropdown,
.wpb_element_wrapper .wpb_vc_param_value.show_labels.dropdown,
.wpb_element_wrapper .wpb_vc_param_value.numbers_font.google_fonts,
.wpb_element_wrapper .wpb_vc_param_value.labels_font.google_fonts,
.wpb_element_wrapper .wpb_vc_param_value.count_splitter.textfield,
.wpb_element_wrapper .wpb_vc_param_value.labels_align.dropdown,
.wpb_element_wrapper .wpb_vc_param_value.numbers_font_size.textfield,
.wpb_element_wrapper .wpb_vc_param_value.numbers_line_height.textfield,
.wpb_element_wrapper .wpb_vc_param_value.numbers_letter_spacing.textfield,
.wpb_element_wrapper .wpb_vc_param_value.labels_font_size.textfield,
.wpb_element_wrapper .wpb_vc_param_value.labels_line_height.textfield,
.wpb_element_wrapper .wpb_vc_param_value.labels_letter_spacing.textfield,
.wpb_element_wrapper .wpb_vc_param_value.numbers_spacing.textfield,
.wpb_element_wrapper .wpb_vc_param_value.numbers_margin.textfield,
.wpb_element_wrapper .wpb_vc_param_value.tablet_numbers_font_size.textfield,
.wpb_element_wrapper .wpb_vc_param_value.tablet_numbers_line_height.textfield,
.wpb_element_wrapper .wpb_vc_param_value.tablet_numbers_letter_spacing.textfield,
.wpb_element_wrapper .wpb_vc_param_value.tablet_labels_font_size.textfield,
.wpb_element_wrapper .wpb_vc_param_value.tablet_labels_line_height.textfield,
.wpb_element_wrapper .wpb_vc_param_value.tablet_labels_letter_spacing.textfield,
.wpb_element_wrapper .wpb_vc_param_value.tablet_numbers_spacing.textfield,
.wpb_element_wrapper .wpb_vc_param_value.tablet_numbers_margin.textfield,
.wpb_element_wrapper .wpb_vc_param_value.mobile_numbers_font_size.textfield,
.wpb_element_wrapper .wpb_vc_param_value.mobile_numbers_line_height.textfield,
.wpb_element_wrapper .wpb_vc_param_value.mobile_numbers_letter_spacing.textfield,
.wpb_element_wrapper .wpb_vc_param_value.mobile_labels_font_size.textfield,
.wpb_element_wrapper .wpb_vc_param_value.mobile_labels_line_height.textfield,
.wpb_element_wrapper .wpb_vc_param_value.mobile_labels_letter_spacing.textfield,
.wpb_element_wrapper .wpb_vc_param_value.mobile_numbers_spacing.textfield,
.wpb_element_wrapper .wpb_vc_param_value.mobile_numbers_margin.textfield,
.wpb_element_wrapper .wpb_vc_param_value.number.textfield,
.wpb_element_wrapper .wpb_vc_param_value.filter.dropdown,
.wpb_element_wrapper .wpb_vc_param_value.artists_filter.post_multiselect,
.wpb_element_wrapper .wpb_vc_param_value.enable_artists_filter.dropdown,
.wpb_element_wrapper .wpb_vc_param_value.action_title.textfield,
.wpb_element_wrapper .wpb_vc_param_value.action_obj_id.post_select,
.wpb_element_wrapper .wpb_vc_param_value.action_ext_link.textfield,
.wpb_element_wrapper .wpb_vc_param_value.css_animation.dropdown{
	display:none;
}


@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}


@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5); transform: scale(2.5);}
}
/* START REDUX DASHBOARD FOR SONAAR */
.iron-docs {
	margin-top: 4vh;
	margin-right:60px;
	text-align:center;

	h1, h2, h3, h4{
		color:$color-theme-accent;
	}
	h1{

		font-size: 4.5rem;
		font-weight: 300;
		line-height: 1.2;
		margin: auto;
		padding: auto;
		@media screen and (max-width: $break-small){
   		font-size:2.5rem;
		}
	}

	h2{
		font-size: 2.5rem;
	}
	button {
	    text-transform: uppercase !important;
	    padding: 20px 40px 20px 40px !important;
	    letter-spacing: 0.15em !important;
	    font-size: 14px !important;
	    border: none;
	    border-radius:4px;
	    background-color: $color-theme-accent;
	    color: #000;
	    -webkit-transition: all .3s ease;
	    transition: all .3s ease;
		& :focus {
			background-color: #000;
			color: #fff;
			box-shadow: 0 4px 20px -5px rgba(0,0,0,0.5);
		}
		&.btn-hidden{
			display:none;
		}
	}
	.message {
	    margin-top: 40px;
	    margin-bottom: 30px;
	   	display: inline-block;
	    padding: 30px;
	    width: 700px;
	    background-color: #202020;
	    border-radius: 6px;
	}
	.message.display h3 {
		line-height: 21px;
	    border-bottom: none!important;
	}
	.message .error {
    	color: #ff4800;
	}
	.current-version{
		font-size: 0.8rem!important;
		font-weight: 100;
    	letter-spacing: 1px;
		color: #787878;
	}
	.sub-lead {
	    font-size: 13px !important;
	    color: #ccc;
	}
	#licenceKey {
	    max-width: 760px;
	    width:100%;
	    padding: 20px;
	    font-size: 24px;
	    letter-spacing: 6px;
	    margin-bottom: 20px;
	    margin-top: 20px;
	    text-align:center;
	    border-radius: 6px;
	    border:none;
 		@media screen and (max-width: $break-medium){
   		letter-spacing: 1px;
		}
		 @media screen and (max-width: $break-small){
   		font-size:12px;
		}
	}

	.jumbotron, .minipanels{
		margin: 0px 40px 20px 40px;
		box-shadow: 0 4px 20px -5px rgba(0,0,0,0.5);
		padding: 30px;
	    padding-bottom:50px;
	    display: inline-block;
	   	text-align: center;
	   	border-radius: 4px;
	    width:100%;
		max-width: 1024px;
	    @media screen and (max-width: $break-large){
	    margin: 20px auto;
		}
	}
	.jumbotron {
		color:#fff;
	    background-color: #000;

	}
	.minipanels{
		color:#000;
	    background-color: #fff;
	    border: 2px solid #dadada;
	   	h1{
	   		font-size:2.5rem;
		   	@media screen and (max-width: $break-small){
	   			font-size:1.5rem;
			}
	   	}
		&.panelright{
			//float:right;
		}
	}
	a.btdocs{
		display: inline-block;
	    font-size: 14px;
	    line-height: 1.428571429;
	    vertical-align: middle;
	    cursor: pointer;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    -o-user-select: none;
	    user-select: none;
		text-decoration:none;
	    text-transform: uppercase!important;
	    padding: 10px 40px 10px 40px!important;
	    letter-spacing: 0.15em!important;
	    border-color: rgba(0,0,0,0.1)!important;
	    background-color: rgba(0,0,0,0);
	    color: #000;
	    -webkit-transition: all .3s ease;
	    transition: all .3s ease;
	    &:hover{
	    	border-color: #000;
		    background-color: #000;
		    color: #fff;
		    box-shadow: 0 4px 20px -5px rgba(0,0,0,0.5);
	    }
	}
}

/* END REDUX DASHBOARD*/

.vc-icons-selector .fip-icons-container .fip-box {
	font-size: 28px;
}

.vc_navgar-frontend {
	background-color: #f5f5f5;
  -webkit-box-shadow: 0 40px 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0 40px 50px rgba(0, 0, 0, 0.08);

	button.vc_btn-primary {
		background-color: $color-accent;
	}
	.vc_navbar-nav {

		.vc_navbar-border-right,
		> li {
			border-color: #ededed;
		}
		> li {

			a {

				.vc-composer-icon {
					color: rgba(#000, 0.5);
				}
				&:focus {
					outline: none;
					-webkit-box-shadow: none;
					        box-shadow: none;
				}
				&:hover {
					background-color: #ddd !important;

					.vc-composer-icon {
						color: rgba(#000, 1);
					}
				}
			}
		}
		.vc_dropdown {

			.vc_dropdown-list {
				background-color: #f5f5f5;
				border-color: #ededed;

				li {

					a {
						color: rgba(#000, 0.5);

						&.active,
						&:hover {
							color: #000;
							background-color: #ddd;
						}
					}
				}
			}
			&:hover {
				.vc_dropdown-toggle {
					background-color: #ddd !important;

					.vc-composer-icon {
						color: rgba(#000, 1);
					}
				}
			}
		}
	}
	&.vc_navbar .vc_navbar-brand.vc_ui-wp-spinner::before {
		background-image: url(../img/spinner.svg);
	}
}

#vc_ui-panel-add-element {
	padding: 0;
	margin: 0 auto;

	&:before {
		content: '';
		display: inline-block;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #fff;
		opacity: 0.3;
	}
}

.vc_ui-panel.vc_ui-panel-window {
	padding: 0;

	.vc_ui-panel-window-inner {
		width: 100%;
		border-radius: 10px;
		-webkit-box-shadow: 0 0 60px 3px rgba(#000, 0.2);
		box-shadow: 0 0 60px 3px rgba(#000, 0.2);
	}
	.vc_ui-panel-content {
		width: 100%;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.vc_ui-panel-footer-container {
		border-radius: 0 0 10px 10px;
	}
	&:not(.vc_active) {
		display: none;
	}
}

.wp-admin {

	.updated{
		&.rs-update-notice-wrap, &.vc_license-activation-notice, &.eg-update-notice-wrap { 
			display:none!important;
		}
	}

	.vc_edit_form_elements {
		padding-bottom: 35px;
	}
	.vc_ui-panel-content-container {
		border-radius: 0 0 10px 10px;

		&.vc_ui-panel-header-o-stacked-bottom {
			display: none;
		}
	}

	.vc_element-icon.fa {
		background-color: $color-accent;
	}
	.vc_ui-panel-header-container {
		padding: 20px 30px 0;
		border-radius: 10px 10px 0 0;
		z-index: 10;
		background: transparent;
		background: linear-gradient(135deg, #0c1716 0%, #607d9c 100%);
		-webkit-box-shadow: 0 13px 35px -8px rgba(47, 191, 174, 0.15);
		        box-shadow: 0 13px 35px -8px rgba(47, 191, 174, 0.15);
	}

	#vc_ui-panel-edit-element {
		min-width: 767px;

		.vc_ui-panel-header-container {
			padding: 15px 20px 0;
		}
		.vc_ui-panel-header-controls {
			margin-top: 12px;
		}
		.vc_ui-panel-header-heading {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	#post-body-content {

		.composer-switch {
			margin-top: 15px;

			a.wpb_switch-to-front-composer,
			a.wpb_switch-to-composer,
			.logo-icon {
				background-color: $color-accent;
			}
			.vc_spacer {
				background-color: lighten($color-accent, 10%);
			}
		}
	}

	.vc_ui-panel-header {

		.vc_ui-panel-header-heading {
			margin-top: 15px;
			margin-bottom: 30px;
			font-size: 25px;
		}
		.vc_ui-panel-header-controls {
			margin-top: 18px;
		}
		.vc_ui-search-box {
			width: 300px;

			input[type=search] {
				padding-top: 12px;
				padding-bottom: 12px;
				padding-left: 35px;
				-webkit-box-shadow: 0 15px 35px rgba(darken(#691abb, 5%), 0.7);
				        box-shadow: 0 15px 35px rgba(darken(#691abb, 5%), 0.7);

				&:focus {
					-webkit-box-shadow: 0 5px 20px rgba(darken(#691abb, 5%), 0.9);
					        box-shadow: 0 5px 20px rgba(darken(#691abb, 5%), 0.9);
				}
			}
		}
	}

	.vc_ui-panel-content {
		padding: 35px;
	}


	.wpb_element_label {
		display: block;
		margin-top: 0.25em;
		margin-left: -30px;
		margin-right: -30px;
		padding-left: 30px;
		padding-bottom: 0.25em;
		margin-bottom: 1em;
		border-bottom: 1px dashed #cbcbcb;
		font-size: 18px;
		font-weight: 600;
		letter-spacing: -0.025em;
		line-height: 1.5;
		color: #c9c9c9;
	}

	.wpb_el_type_subheading {
		display: block;
		float: none !important;
		width: calc(100% + 60px) !important;
		margin-right: -30px;
		margin-left: -30px;
		margin-top: 3em;
		padding-left: 30px !important;
		border: none;
		background-color: transparent;
		border-bottom: 1px solid #cbcbcb;

		.wpb_element_label {
			border: none;
			padding: 0;
			font-size: 25px;
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 0.025em;
			line-height: 1;
			color: #c9c9c9;
			margin: 0;

			+ .edit_form_line {
				margin: 0;
			}
		}
	}

	.vc_description,
	.edit_form_line {
		margin-top: 1.15em;
		font-size: 14px;
		line-height: 2em;
		letter-spacing: 0.01em;
	}

	.vc_column-offset-table select,
	.vc_settings > div select,
	.wpb-textinput,
	.wpb-textarea,
	.vc_param-animation-style,
	.wpb-input {
		width: 100%;
		height: 45px;
		padding-left: 15px;
		text-indent: 10px;
		background-color: #f3f3f3;
		border: none;
		border-radius: 4px;
		border: 1px solid #f3f3f3;
		-webkit-box-shadow: 0 5px 20px -6px rgba(#000, 0.2);
		        box-shadow: 0 5px 20px -6px rgba(#000, 0.2);
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;

		&:hover,
		&:focus,
		&:active {
			background-color: #fff;
			border-color: #ededed;
			-webkit-box-shadow: 0 12px 25px -4px rgba(#000, 0.2);
			        box-shadow: 0 12px 25px -4px rgba(#000, 0.2);
		}
	}

	.wpb-textarea {
		height: auto;
	}

	.wp-color-result {
		width: 110px;
		height: 43px;
		padding-left: 45px;
		background-color: #f3f3f3;
		border-color: #f3f3f3;
		-webkit-box-shadow: 0 5px 20px -6px rgba(#000, 0.2);
		        box-shadow: 0 5px 20px -6px rgba(#000, 0.2);
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		border-radius: 5px;

		&:after {
			line-height: 43px;
			border-color: #dedede;
		}
		&:hover {
			-webkit-box-shadow: 0 12px 25px -4px rgba(#000, 0.2);
			        box-shadow: 0 12px 25px -4px rgba(#000, 0.2);

			&:after {
				border-color: #dedede;
			}
		}
	}
	.vc_edit_form_elements input.wp-color-picker[type=text] {
		height: 45px;

		+ .button.button-small {
			height: 45px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.vc_checkbox,
	.vc_checkbox-label {
		display: inline-block;
		width: 62px;
		height: 24px;
		position: relative;
		text-indent: -99999px;
	}

	.vc_column-offset-table,
	.vc_checkbox,
	.vc_checkbox-label {

		label {
			position: relative;
			display: block;
		}
		input[type=checkbox] {
			margin: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			+ span {

				&:before,
				&:after {
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					border-radius: 50em;
					-webkit-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
					transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
				}
				&:before {
					width: 51px;
					height: 25px;
					margin: 0;
					top: 1;
					z-index: 0;
					background-color: #ededed;
				}
				&:after {
					width: 24px;
					height: 24px;
					border: none;
					position: absolute;
					top: 1px;
					background-color: #fff;
					-webkit-box-shadow: 0 8px 20px -3px rgba(#000, 0.3), 0 3px 10px -2px rgba(#000, 0.15);
					        box-shadow: 0 8px 20px -3px rgba(#000, 0.3), 0 3px 10px -2px rgba(#000, 0.15);
				}
			}
			&:checked {

				+ span {

					&:before {
						background-color: $color-bg-checkbox;
					}
					&:after {
						-webkit-transform: translate3d(29px, 0, 0);
						        transform: translate3d(29px, 0, 0);
						-webkit-box-shadow: 0 15px 30px -3px rgba($color-bg-checkbox, 0.5), 0 3px 10px -2px rgba($color-bg-checkbox, 0.3);
						        box-shadow: 0 15px 30px -3px rgba($color-bg-checkbox, 0.5), 0 3px 10px -2px rgba($color-bg-checkbox, 0.3);
					}
				}
			}
		}

		&:hover {

			input[type=checkbox]:not(:checked) {

				&:after {
					-webkit-box-shadow: 0 12px 30px -1px rgba(#000, 0.3), 0 5px 15px rgba(#000, 0.15);
					        box-shadow: 0 12px 30px -1px rgba(#000, 0.3), 0 5px 15px rgba(#000, 0.15);
				}
			}
		}
	}

	.sonaar-checkbox-with-label {
		margin-bottom: 40px;

		label {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			width: 100%;
			margin-bottom: 30px;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			text-indent: 0;
		}
		input[type=checkbox] {
			width: 0;
			height: 0;
			margin: 0;
			border: none;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
		}
		span {
			-ms-flex-preferred-size: 50%;
			    flex-basis: 50%;
		}
		.checkbox {
			display: inline-block;
			width: 62px;
			height: 28px;
			position: relative;
			-webkit-box-ordinal-group: 3;
			    -ms-flex-order: 2;
			        order: 2;
		}

		+ .sonaar-checkbox-with-label {
		}
	}

	.edit_form_line {

		.sonaar-checkbox-with-label:only-child {
			margin-bottom: 20px;
		}
	}

	.vc_css-editor .vc_settings .vc_background-image .vc_add-image,
	.wpb_el_type_attach_image .gallery_widget_add_images,
	.wpb_el_type_attach_images .gallery_widget_add_images {
		background-color: #fafafa;
		border-color: #ededed;
		-webkit-box-shadow: 0 10px 20px -3px rgba(#000, 0.15);
		        box-shadow: 0 10px 20px -3px rgba(#000, 0.15);
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;

		&:hover {
			-webkit-box-shadow: 0 5px 12px -1px rgba(#000, 0.15);
			        box-shadow: 0 5px 12px -1px rgba(#000, 0.15);
		}
	}

	.vc_css-editor {

		.vc_layout-onion input {
			border-color: #dedede;
			border-radius: 3px;
			-webkit-box-shadow: 0 5px 15px -2px rgba(#000, 0.15);
			        box-shadow: 0 5px 15px -2px rgba(#000, 0.15);

			&:focus {
				border-color: #bbb;
				-webkit-box-shadow: 0 3px 12px rgba(#000, 0.2);
				        box-shadow: 0 3px 12px rgba(#000, 0.2);
			}
		}
		.vc_settings {

			label {
				display: block;
				margin-top: 1em;
				margin-bottom: 0.75em;
				color: #000;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: -0.01em;

				&:first-of-type {
					margin-top: 0;
				}
			}
		}
	}

	.vc_general.vc_ui-button {
		padding: 1em 1.5em;
		border-radius: 50em;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;

		&:hover {
			-webkit-box-shadow: 0 12px 30px -3px rgba(#000, 0.25);
			        box-shadow: 0 12px 30px -3px rgba(#000, 0.25);
		}
	}

	.vc_welcome:not(.vc_not-empty) {
		padding-top: 5em;
		padding-bottom: 5em;
		background-color: #f5f5f5;
	}
	.vc_welcome {

		.vc_welcome-header {
			font-family: 'Poppins', sans-serif;
			font-weight: 600;
			line-height: 1.5em;
			letter-spacing: -0.014em;
			text-transform: none;
			color: #2a2a2a;
		}
		.vc_ui-button {
			padding: 1.25em 2.1em;
			border-radius: 3px;
			background-color: #fff;
			color: #020202;
			-webkit-box-shadow: 0 2px 50px rgba(#000, 0.07);
			        box-shadow: 0 2px 50px rgba(#000, 0.07);

			i {
				color: inherit;
				font-family: fontAwesome;

				&:before {
					background: none;
				}
				&.vc_ui-icon-pixel-control-plus:before {
					content: '\f067';
				}
				&.vc_ui-icon-pixel-control-edit:before {
					content: '\f031';
				}
				&.vc_ui-icon-pixel-control-template:before {
					content: '\f00a';
				}
			}
			&:hover {
				-webkit-transform: translate3d(0, -2px, 0);
				        transform: translate3d(0, -2px, 0);
				-webkit-box-shadow: 0 8px 50px rgba(#000, 0.15);
				        box-shadow: 0 8px 50px rgba(#000, 0.15);
				color: #fff;
			}
		}
	}

	.vc_ui-button-action:not(:disabled) {
		background-color: #18bdb2;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;

		&:hover {
			-webkit-box-shadow: 0 15px 25px -3px rgba(#18bdb2, 0.5), 0 3px 17px -1px rgba(#18bdb2, 0.5);
			        box-shadow: 0 15px 25px -3px rgba(#18bdb2, 0.5), 0 3px 17px -1px rgba(#18bdb2, 0.5);
			background-color: darken(#18bdb2, 5%);
		}
	}

	.vc_column-offset-table {

		> tbody {

			> tr {

				> td {
					padding: 25px;
				}
			}
		}
		select {
			text-indent: 5px;
		}
		.vc_screen-size .vc-composer-icon {
			width: 30px;
			height: 30px;
			position: relative;
			top: 8px;
			font-size: 28px;
			line-height: 1;
		}
	}

	.vc_controls {

		> .vc_controls-cc {
			-webkit-box-shadow: 0 15px 35px -5px rgba(#afd23e, 0.5), 0 5px 15px -5px rgba(#afd23e, 0.7);
			        box-shadow: 0 15px 35px -5px rgba(#afd23e, 0.5), 0 5px 15px -5px rgba(#afd23e, 0.7);
		}
		> .vc_control-container {
			-webkit-box-shadow: 0 15px 35px -5px rgba(#F9B418, 0.5), 0 5px 15px -5px rgba(#F9B418, 0.7);
			        box-shadow: 0 15px 35px -5px rgba(#F9B418, 0.5), 0 5px 15px -5px rgba(#F9B418, 0.7);
		}
		> .vc_controls-content-widget {
			-webkit-box-shadow: 0 15px 35px -5px rgba(#285A85, 0.5), 0 5px 15px -5px rgba(#285A85, 0.7);
			        box-shadow: 0 15px 35px -5px rgba(#285A85, 0.5), 0 5px 15px -5px rgba(#285A85, 0.7);
		}
	}
	.wpb_ra_tabs > .vc_controls .vc_controls-cc {
		-webkit-box-shadow: 0 15px 35px -5px rgba(#285A85, 0.5), 0 5px 15px -5px rgba(#285A85, 0.7);
		box-shadow: 0 15px 35px -5px rgba(#285A85, 0.5), 0 5px 15px -5px rgba(#285A85, 0.7);
	}

	/* Image style selector*/
	ul.thumbnails.image_picker_selector {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-left: -5px;
		margin-right: -5px;
		max-height: 280px;
		overflow-y: auto;
		overflow-x: hidden;

		li {
			width: calc(25% - 10px);
			margin: 0 5px 10px;
			border-radius: 4px;
			cursor: pointer;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;

			.thumbnail {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				height: 100%;
				padding: 5px;
				position: relative;
				border-radius: 4px;
				-webkit-box-sizing: border-box;
				        box-sizing: border-box;
				background-color: #fff;
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;

				&:before {
					content: '';
					display: inline-block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 0;
					border: 1px solid $color-accent;
					border-radius: 3px;
					-webkit-box-sizing: border-box;
					        box-sizing: border-box;
					opacity: 0;
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
				p {
					margin: 0;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					border-radius: 4px;
					/* background-color: rgba(#000, 0.3);*/
					opacity: 0;
					visibility: hidden;
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
				.thumbnail-tooltip {
					display: inline-block;
					padding: 0.5em 1.5em;
					position: absolute;
					right: -1px;
					bottom: -1px;
					z-index: 3;
					border-radius: 3px;
					background-color: #fff;
					-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
					        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
					font-size: 9px;
					font-weight: 600;
					text-transform: uppercase;
					letter-spacing: 0.1em;
				}
				&.selected {
					-webkit-transform: translate3d(0, -1px, 0);
					        transform: translate3d(0, -1px, 0);
					border-color: $color-accent;
					background-color: transparent;
					-webkit-box-shadow: 0 5px 20px -5px rgba($color-accent, 0.8);
					        box-shadow: 0 5px 20px -5px rgba($color-accent, 0.8);

					&:before {
						border-width: 2px;
						opacity: 1;
					}
					p {
						top: 3px;
						left: 3px;
						bottom: 3px;
						right: 3px;
						background-color: transparent;
						opacity: 1;
						visibility: visible;
					}
				}
				&:hover {
					border-color: $color-accent;

					p {
						opacity: 1;
						visibility: visible;
					}
				}
			}
			img {
				width: 100%;
				height: auto;
				vertical-align: middle;
			}
		}
	}
}


.vc_general {

	&.vc_ui-tabs-line {

		.vc_ui-tabs-line-trigger {

		}
		> li {
			position: relative;
			overflow: hidden;
			border-radius: 3px 3px 0 0;

			> .vc_ui-tabs-line-trigger {

				&:after {
					content: '';
					display: inline-block;
					width: 100%;
					height: 8px;
					position: absolute;
					bottom: 0;
					left: 0;
					border-radius: 0px;
					background-color: #fff;
					background: linear-gradient(to right, #ff7600 0%, #ffda00 100%);
					-webkit-transform: scale3d(1, 0, 1);
					        transform: scale3d(1, 0, 1);
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
					-webkit-transform-origin: center bottom;
					        transform-origin: center bottom;
				}
			}
			&.vc_active {

				.vc_ui-tabs-line-trigger {
					background-color: transparent;
					color: #fff;

					&:after {
						-webkit-transform: scale3d(1, 1, 1);
						        transform: scale3d(1, 1, 1);
					}
				}
			}
		}
	}
}

.vc_add-element-container {

	.wpb-elements-list {
		background-color: #f5f6fb;

		.wpb-content-layouts {

			@include clearfix();

			li {
				padding: 3px;
				border: none;
				overflow: visible;
				background-color: transparent;
				-webkit-transition: -webkit-box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
				transition: -webkit-box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
				transition: box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1), transform 0.25s cubic-bezier(0, 0, 0.2, 1);
				transition: box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1), transform 0.25s cubic-bezier(0, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);

				.vc_el-container {
					height: 65px;
					border-radius: 6px;
					background-color: #fff;
					-webkit-transition: -webkit-box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
					transition: -webkit-box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
					transition: box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1), transform 0.25s cubic-bezier(0, 0, 0.2, 1);
					transition: box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1), transform 0.25s cubic-bezier(0, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
				}
				&:hover {
					border-color: transparent;
					z-index: 2;
					-webkit-transform: translate3d(0, -2px, 0);
					        transform: translate3d(0, -2px, 0);

					.vc_el-container {
						-webkit-box-shadow: 0 15px 35px -2px rgba(#000, 0.25);
						        box-shadow: 0 15px 35px -2px rgba(#000, 0.25);
					}
				}
				a {
					color: #000;

					&:hover {
						color: $color-accent;
					}
				}
				.vc_element-description {
					color: #bbb;
				}
			}
		}
	}
}


.animate {
	-webkit-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

/*
	Sonaar Responsive css
*/
.sonaar-responsive-css-container {
	position: relative;
	padding-top: 6em;

	.sonaar-responsive-css-heading {
		display: inline-block;
		width: 70px;
		height: 40px;
		border-radius: 5px;
		position: absolute;
		top: -1em;
		left: 30px;
		text-indent: -99999px;
		cursor: pointer;

		&:before {
			content: '\f10a';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			text-indent: 0;
			font: normal normal 35px/40px fontAwesome;
			text-align: center;
			opacity: 0.5;
		}
		&:after {
			content: 'Small Desktops';
			display: inline-block;
			padding: 0.5em 1.5em;
			position: absolute;
			bottom: -35px;
			left: 50%;
			border-radius: 5px;
			background-color: $color-accent;
			font-size: 12px;
			line-height: 1.5;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.15em;
			text-indent: 0;
			color: #fff;
			white-space: nowrap;
			opacity: 0;
			visibility: hidden;
			-webkit-transform: translateX(-50%) translateY(10px);
			        transform: translateX(-50%) translateY(10px);
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		&:hover {

			&:after {
				opacity: 1;
				visibility: visible;
				-webkit-transform: translateX(-50%) translateY(0);
				        transform: translateX(-50%) translateY(0);
			}
		}
	}
	.sonaar-inner-wrap {
		display: none;
		width: 100%;

		@include clearfix;

		.vc_layout-onion {
			width: 100%;

			.vc_border,
			.vc_padding,
			.vc_content {
				margin: 50px;
			}
		}
	}
	.sonaar-main-responsive-wrapper {
		width: 100%;

		&:first-child {

			.sonaar-responsive-css-heading {

				&:before {
					content: '\f109';
					font-size: 32px;
				}
			}
		}
		&:nth-child(2) {

			.sonaar-responsive-css-heading {
				left: 105px;

				&:before {
					content: '\f10a';
					-webkit-transform: rotateZ(-90deg) scaleX(0.85);
					        transform: rotateZ(-90deg) scaleX(0.85);
				}
				&:after {
					content: 'Tablet';
				}
			}
		}
		&:nth-child(3) {

			.sonaar-responsive-css-heading {
				left: 170px;

				&:before {
					content: '\f10b';
				}
				&:after {
					content: 'Mobile';
				}
			}
		}
		&.active {

			.sonaar-responsive-css-heading {
				background-color: #ededed;

				&:before {
					opacity: 1;
				}
			}
			.sonaar-inner-wrap {
				display: block;
			}
		}
	}
}



.theme-browser .theme .theme-actions, .theme-browser .theme.active .theme-actions {
position: absolute;
top: auto;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
right: 0;
padding: 10px 15px;
box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
bottom: -24px;
}