/* GradientMaps effect
   ========================================================================== */
   .sr_it-gradientmaps-skin{
    overflow: hidden;
    .vc_single_image-wrapper{
       overflow: hidden;
    } 
    .esg-media-cover-wrapper:hover .esg-media-poster, .esg-media-cover-wrapper:hover .esg-entry-media{
	    filter:initial !important;
    }
}

/* Demo Custom CSS
   ========================================================================== */
/* MAGNETIC
   ========================================================================== */    
._magnetic {
    
     &.hide-header {   
        [data-vc-full-width="true"].vc_row {
        padding-left: initial!important;
        }   
     }
     
    a.promobox:hover img {
        filter: blur(3px) brightness(60%);
    }
    .sr_it-event-title,
    .sr_it-event-artist {
        font-weight: 600;
    }
    .events-bar-artists {
        margin-right: 30px;
    }
    #dropcap span.dropcap {
        margin-right: -4px;
    }
    /* button view all in the heading */
    
    .rowHeading {
        z-index: 1;
    }
    .rowHeading h2 {
        display: inline-block;
    }
    .rowHeading .vc_btn3-container {
        vertical-align: bottom;
        margin-top: 27px;
        float: right;
    }
    .rowHeading .vc_btn3.vc_btn3-style-outline-custom {
        border-width: 3px;
    }
    .vc_btn3.vc_btn3-size-lg {
        font-size: 24px;
        line-height: 32px;
    }
    @media (max-width: 800px) {
        .align-center-responsive>div>.wpb_wrapper>* {
            display: block !important;
            text-align: center !important;
            float: none !important;
        }
    }
    /*Event list*/
    
    .events-bar {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-right: 0%;
    }
    ul.concerts-list {
        border-top: 0;
    }
    .event-line-wrap {
        padding-bottom: 24px;
    }
    ul.concerts-list li {
        border-bottom: 3px solid!important;
    }
    /*----------------Special menu-----------------*/
    
    @media (min-width: 1158px) {
        [data-vc-full-width="true"].vc_row {
            padding-left: 68px!important;
        }

        #pusher-wrap {
            left: 40px!important;
        }
         
        .side-menu:not(.open) .menu-main-menu-container,
        .side-menu:not(.open) .logo-desktop {
            opacity: 0;
        }
        .menu-main-menu-container,
        .logo-desktop {
            transition: 0.4s ease;
        }
    }
    @media (max-width: 1158px) {
        /*---make the menu icon black on mobile ---*/
        .menu-toggle span {
            background-color: #000!important;
        }
        .nav-menu li a {
            font-size: 28px;
            padding-bottom: 10px!important;
            margin-top: 0px!important;
        }
    }
    a.site-logo {
        top: 40px!important;
        position: absolute!important;
    }
    .side-menu {
        overflow-y: hidden;
    }
    .side-menu.open {
        overflow-y: auto;
    }
    .sub-menu.active li.menu-item a {
        font-size: 23px;
    }
    .side-menu.open .nav-menu li a {
        border-bottom: 1px solid #3d3d3d;
    }
    .nav-menu li a {
        padding-bottom: 23px;
    }
    .wp-admin-bar .site-title {
        margin-top: 84px;
    }
    .site-title {
        margin-top: 54px;
    }
    .nav-holder {
        top: 5vh;
    }
    .menu-toggle {
        padding: 20px;
        left: 0px!important;
    }
    .side-menu.lefttype:not(.open) {
        left: -300px;
    }
    .side-menu.lefttype.open {
         left: 0px;
    }
    .menu-toggle span {
        margin-top: 20px;
    }
    .sub-arrow i {
        display: none;
    }
    ul.header-top-menu li a {
        color: #000000!important;
    }

    /*----------------End Special menu-----------------*/
}
/* CORNERSTONE
   ========================================================================== */    
._cornerstone {
    .single-artist h1 {
        font-size: 48px;
        line-height: 48px;
    }
    h1.sr_it-playlist-title {
        font-size: 24px;
        line-height: 25px;
    }
    &.home .playlist .sr_it-playlist-title,
    .sr_it-playlist-artists,
    .sr_it-playlist-release-date {
        display: none!important;
    }
    .woocommerce-checkout h3 {
        letter-spacing: 0;
    }
    @media (max-width: 800px) {
        .align-center-responsive>div>.wpb_wrapper>* {
            display: block !important;
            text-align: center !important;
            float: none !important;
        }
    }
    @media (max-width: 1189px) {
        /* reduce menu item padding space for laptops */
        
        .classic-menu>ul>li a {
            padding-left: 15px;
            padding-right: 15px;
        }
        .cornerstone_2columns-format .vc_column-inner {
            margin-top: 30px!important;
            margin-left: 0px!important;
            margin-right: 0px!important;
        }
    }
    ul.header-top-menu.righttype li {
        margin: 7px 0 0 20px;
    }
    .classic-menu>ul>li.logo {
        overflow: initial;
    }
    .cornerstone button,
    .cornerstone .vc_btn3-container a {
        padding: 0px 0px 3px 0px!important;
        margin: 0px 10px 0px 10px!important;
        font-size: 36px!important;
        border-width: 0px 0px 4px 0px!important;
        font-weight: 600;
    }
    .cornerstone button:hover,
    .cornerstone .vc_btn3-container a:hover {
        margin-bottom: -7px!important;
        border-width: 0px 0px 7px 0px!important;
        border-color: inherit!important;
        padding: 0px 0px 7px 0px!important;
    }
    /*------------ 2 columns special widht format (home page -about column)----*/
    
    .cornerstone_2columns-format>.wpb_column:first-of-type p {
        line-height: 31px;
        letter-spacing: 4px;
        font-size: 12px;
        margin-bottom: 30px
    }
    .cornerstone_home_singleimage {
        z-index: -1;
    }
    .cornerstone_homepage_grid.vc_row {
        background-position: left!important;
    }
    /* button view all in the heading */
    
    @media (max-width: 755px) {
        .rowHeading .vc_custom_heading,
        .rowHeading {
            text-align: center !important;
        }
    }
    @media (min-width: 756px) {
        .rowHeading {
            z-index: 1;
        }
        .rowHeading h2 {
            display: inline-block;
        }
        .rowHeading .vc_btn3-container {
            vertical-align: bottom;
            margin-top: 42px;
            float: right;
        }
    }
    .sr_it-grid {
        z-index: -1;
    }
    &.page-template-default h1.page-title {
        font-size: 64px;
        line-height: 54px;
        font-weight: 700;
    }
    /* added to main style */
    
    figure {
        padding: 0px;
    }
    /* added to main style ! */
    
    .events-bar {
        border-top-color: rgba(255, 255, 255, 0)!important;
        margin-bottom: 40px;
    }
    .event-line-node {
        padding: 12px;
        line-height: 27px;
    }
    span.events-bar-title {
        /* added to main style ! */
        
        text-transform: initial;
    }
    @media (max-width: 768px) {
        .cornerstone_2columns-format>.wpb_column:first-of-type>.vc_column-inner {
            width: initial;
            margin-left: 25px !important;
            margin-right: 25px !important
        }
    }
    /*tmp*/
    
    &.page-template-archive-posts-list .media-block .text-box {
        position: absolute;
    }
    @media (max-width: 1290px) {
        .classic-menu>ul>li a {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
        
   
}

/* APEX
   ========================================================================== */    
._apex {
    #sonaar-player .close.btn-player {
        background-color: #fff;
    }
    .iron-audioplayer .track-number svg {
        top: 1px;
    }
    #sonaar-player .player {
        border-color: initial;
    }
    .event-line-wrap .artists {
        color: rgba(0, 0, 0, 1);
    }
    #footer {
        background-color: rgba(0, 0, 0, 0);
        position: relative;
        z-index: 8000;
    }
    @media (max-width: 768px) {
        .wpb_video_widget.vc_video-el-width-70 .wpb_wrapper {
            width: 100%
        }
    }
    /*MAILCHIMP FORM*/
    
    .mc4wp-form input[type="text"],
    .mc4wp-form input[type="email"],
    .mc4wp-form input[type="tel"],
    .mc4wp-form input[type="url"],
    .mc4wp-form input[type="date"],
    .mc4wp-form input[type="number"],
    .mc4wp-form select,
    .mc4wp-form textarea {
        background: transparent;
        border-radius: 0;
        padding: 18px 27px;
        box-sizing: border-box;
        border-width: 2px;
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        background: transparent;
    }
    .mc4wp-form {
        text-align: left;
    }
    .mc4wp-form button,
    .mc4wp-form input[type=submit] {
        margin-left: 0;
        padding: 20px 40px;
        border-radius: 0;
    }
    input[type="email"]::-webkit-input-placeholder {
        color: #fff !important;
        opacity: 1;
        font-weight: 400 !important;
        font-size: 21px !important;
        font-family: Josefin Sans;
    }
    input[type="email"]:-moz-placeholder {
        color: #fff !important;
        opacity: 1;
        font-weight: 400 !important;
        font-size: 21px !important;
        font-family: Josefin Sans;
    }
    input[type="email"]:-ms-input-placeholder {
        color: #fff !important;
        opacity: 1;
        font-weight: 400 !important;
        font-size: 21px !important;
        font-family: Josefin Sans;
    }
    .mc4wp-form input[type=text],
    .mc4wp-form input[type=email],
    .mc4wp-form input[type=tel],
    .mc4wp-form input[type=url],
    .mc4wp-form input[type=date],
    .mc4wp-form input[type=number],
    .mc4wp-form select,
    .mc4wp-form textarea {
        font-size: 18px;
        color: #fff;
        font-family: Josefin Sans;
        line-height: 30px;
    }    
   
}
/* KRONOXX
   ========================================================================== */    
._kronoxx {
    .splitColumns p{
        color:#000;
    }

    .vc_row.textoverlay{
        background-position-x: center!important;
        background-position-y: top!important;
        background-size: inherit!important;
    }
    .iron-audioplayer .album .album-art {
        max-width: 570px;
    }

    @media (max-width:1024px){
    .splitColumns .wpb_column:first-child{
        padding-top:100px!important;
        padding-bottom:100px!important;
        padding:10%;
    }
    }
    @media (max-width:1920px){
    .vc_row.textoverlay{
        background-size: contain!important;
    }
        
    }
    .sr_it-playlist-title {
        font-weight: 700;
    }
    .sr_it-playlist-artists, .sr_it-playlist-release-date {
        font-style: inherit;
    }
    .defaultdivider {
        height: 2px;
        width: 40px;
    }
    .nav-menu li a.backbtn {
        background: none;
        font-size: 14px;
    }
    
    .social-networks a i {
        font-size: 21px;
    }
    .event-line-wrap .artists {
        color: rgba(0, 0, 0, 1);
    }
    #footer {
        background-color: rgba(0, 0, 0, 0);
        position: relative;
        z-index: 8000;
    }
    
    
    /*MAILCHIMP FORM*/
    .mc4wp-form input[type="text"], .mc4wp-form input[type="email"], .mc4wp-form input[type="tel"], .mc4wp-form input[type="url"], .mc4wp-form input[type="date"], .mc4wp-form input[type="number"], .mc4wp-form select, .mc4wp-form textarea {
    background: transparent;
    border-radius: 0;
    padding: 18px 27px;
    box-sizing: border-box;
    border-width: 2px;
    }
    input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
         background: transparent;   
    }
    .mc4wp-form {
        text-align: left;
    }
    .mc4wp-form button, .mc4wp-form input[type=submit]{
        margin-left: 0;
        padding: 20px 40px;
        border-radius: 0;
    }
    input[type="email"]::-webkit-input-placeholder{
    color: #fff !important;
    opacity: 1;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: quicksand;
    }
    input[type="email"]:-moz-placeholder { 
    color: #fff !important;
    opacity: 1;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: quicksand;
    }
    input[type="email"]:-ms-input-placeholder { 
    color: #fff !important;
    opacity: 1;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: quicksand;
    }
    .mc4wp-form input[type=text], .mc4wp-form input[type=email], .mc4wp-form input[type=tel], .mc4wp-form input[type=url], .mc4wp-form input[type=date], .mc4wp-form input[type=number], .mc4wp-form select, .mc4wp-form textarea{
    line-height: 30px;
    }    
   
}
/* MILEND


   ========================================================================== */    
._milend {

    #overlay {
        filter: brightness(50%);
    }
    
    // WooCommerce
    [role="listbox"] li{
        color: #000;
    }
    
    .widget-title{
        font-family: 'Poppins';
        letter-spacing: 2px!important;
    }
    .sr-letter-spacing-6{
        letter-spacing: 6px;
    }
    .sr-letter-spacing-2{
        letter-spacing: 2px;
    }
    
    /*search box*/
    .search-form input[type="search"]{
        border-color: #fff;
        background: none;
        color: #fff;
        min-width:200px;
        width: calc(100% - 135px);
    }
    .search-form input[type="search"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fff;
    }
    .search-form input[type="search"]::-moz-placeholder { /* Firefox 19+ */
        color: #fff;
    }
    .search-form input[type="search"]:-ms-input-placeholder { /* IE 10+ */
        color: #fff;
    }
    .search-form input[type="search"]:-moz-placeholder { /* Firefox 18- */
        color: #fff;
    }
    .widget_search input[type="submit"]{
        margin: 0px 10px 0px 10px!important;
        font-size: 14px!important;
        background-color: rgba(255,255,255,0)!important;
        border-width: 2px!important;
        border: solid!important;
    }
    
    /*Event*/
    .ul.concerts-list{
        border-top: 0;
    }
    .event-link .event-line-node:nth-of-type(2), .event-link .event-line-node:nth-of-type(3){
        font-weight: bold;
    }
    #artists_filter option {
        color: rgb(38, 36, 35);
    }
    
    
    /*button*/
    button{
        font-family: inherit;
    }
    .style1-button .vc_btn3.vc_btn3-size-lg{
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 3px;
        font-weight: 400;
    }
    .style1-button .vc_btn3-size-lg.vc_btn3-style-outline-custom{
        padding: 17px 65px;
        border-radius: 30px;
    }
    figure{
        padding-top: 0;
    }
    
    
    /*homepage post grid*/
    .color1_txt>div, .vc_grid p{
        color: inherit !important;
    }
    .vc_grid .vc_custom_heading a{
        text-decoration: underline;
    }
    
    
    /*form*/
    .light-form, .light-form p{
        color: #fff;
    }
    .light-form textarea{
        background: none !important;
    }
    .light-form input, .light-form textarea{
        background: none;
        border: 1px solid #fff;
        color: #fff;
    }
    input[type="submit"]{
        background: none;
        border-width: 2px;
        border: solid;
        padding: 17px 65px;
        height: initial;
        border-radius: 30px;
        letter-spacing: 3px;
        margin: 0px;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
        transition: all .2s ease-in-out;
    }
    .light-form input[type="submit"]{
        margin-top: 30px;
    }
}
/* MANDALA
   ========================================================================== */    
._mandala {
    /*HOME social media*/
    .vc_icon_element-align-center{
        display: inline-block;
        }
    .vc_icon_element-align-center+.vc_icon_element-align-center{
        margin-left:30px;
    }
    
    /*Contact page*/
    #dropcap span.dropcap {
        margin-right: 5px;
        margin-top: 19px;
    }
}

/* DOWNBEAT
   ========================================================================== */    
._downbeat {

    .vc_row.textoverlay{
        background-position-x: center!important;
        background-position-y: top!important;
        background-size: inherit!important;
    }
    
    @media (max-width:1920px){
    .vc_row.textoverlay{
        background-size: contain!important;
    }
        
    }    
    #overlay {
    filter: brightness(0.5);
    }
    
    .event-line-wrap .artists {
        color: rgba(0, 0, 0, 1);
    }
    
    #footer {
        background-color: rgba(0, 0, 0, 0);
        position: relative;
        z-index: 8000;
    }
    
    /*MAILCHIMP FORM*/
    .mc4wp-form input[type="text"], .mc4wp-form input[type="email"], .mc4wp-form input[type="tel"], .mc4wp-form input[type="url"], .mc4wp-form input[type="date"], .mc4wp-form input[type="number"], .mc4wp-form select, .mc4wp-form textarea {
    background: transparent;
    border-radius: 0;
    padding: 18px 27px;
    box-sizing: border-box;
    border-width: 2px;
    }
    input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
         background: transparent;   
    }

    .mc4wp-form button, .mc4wp-form input[type=submit]{
        margin-left: 0;
        padding: 20px 40px;
        border-radius: 0;
    }
    input[type="email"]::-webkit-input-placeholder{
    color: #fff !important;
    opacity: 1;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: quicksand;
    }
    input[type="email"]:-moz-placeholder { 
    color: #fff !important;
    opacity: 1;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: quicksand;
    }
    input[type="email"]:-ms-input-placeholder { 
    color: #fff !important;
    opacity: 1;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: quicksand;
    }
    .mc4wp-form input[type=text], .mc4wp-form input[type=email], .mc4wp-form input[type=tel], .mc4wp-form input[type=url], .mc4wp-form input[type=date], .mc4wp-form input[type=number], .mc4wp-form select, .mc4wp-form textarea{
    line-height: 30px;
    }   
   
}  
/* MOONLIGHT
   ========================================================================== */    
._moonlight {
    /* center main menu on big screen only 
    .classic-menu #menu-main-menu {
        @media (min-width:1440px){
            padding-right: 100px!important;
        } 
    }*/
    /* border-bottom under the main menu */
    .classic-menu > ul > li > a {
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 40px;
    }
    .classic-menu:not(.mini):not(.responsive) > ul > li:not(.logo) > a {
        padding-bottom: 10px;
        border-bottom: 6px solid rgba(0,0,0,0);

    }
    .classic-menu:not(.mini):not(.responsive) > ul > li:not(.logo) > a:hover {
        border-bottom: 6px solid;
    }
    /* Avoid content box to overlap the album cover */
    &.single-album .album-header {
        margin-bottom: 100px;
    }
    /* Remove background because we want to see the background image */
    &.single-album .sr_it-single-post.featured, .single-album #sidebar {
        background: none!important;
    }
    .vc_row.textoverlay{
        background-position-x: center!important;
        background-position-y: top!important;
        background-size: inherit!important;
    }
    
    @media (max-width:1920px){
    .vc_row.textoverlay{
        background-size: contain!important;
    }
        
    }    
    /*#overlay {
    filter: brightness(0.5);
    }*/
    
    .event-line-wrap .artists {
        color: rgba(0, 0, 0, 1);
    }
    
    #footer {
        background-color: rgba(0, 0, 0, 0);
        position: relative;
        z-index: 8000;
    }
    
    /*MAILCHIMP FORM*/
    .mc4wp-form input[type="text"], .mc4wp-form input[type="email"], .mc4wp-form input[type="tel"], .mc4wp-form input[type="url"], .mc4wp-form input[type="date"], .mc4wp-form input[type="number"], .mc4wp-form select, .mc4wp-form textarea {
    background: transparent;
    border-radius: 0;
    padding: 18px 27px;
    box-sizing: border-box;
    border-width: 2px;
    }
    input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
         background: transparent;   
    }

    .mc4wp-form button, .mc4wp-form input[type=submit]{
        margin-left: 0;
        padding: 20px 40px;
        border-radius: 0;
    }
    input[type="email"]::-webkit-input-placeholder{
    color: #fff !important;
    opacity: 1;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: quicksand;
    }
    input[type="email"]:-moz-placeholder { 
    color: #fff !important;
    opacity: 1;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: quicksand;
    }
    input[type="email"]:-ms-input-placeholder { 
    color: #fff !important;
    opacity: 1;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: quicksand;
    }
    .mc4wp-form input[type=text], .mc4wp-form input[type=email], .mc4wp-form input[type=tel], .mc4wp-form input[type=url], .mc4wp-form input[type=date], .mc4wp-form input[type=number], .mc4wp-form select, .mc4wp-form textarea{
    line-height: 30px;
    }   
   
}  
/* PRODIGY
   ========================================================================== */  
._prodigy {

    h1.sr_it-videolist-item-title{
    letter-spacing:0px;
    }
    .sub-arrow i {
        padding-top: 9px;
        font-size: 16px;
    }
    .promo-overlay {
        background: none;
    }
    .sr_it-playlist-title {
        font-weight: 700;
    }
    .sr_it-playlist-artists, .sr_it-playlist-release-date {
        font-style: inherit;
    }
    .defaultdivider {
        height: 2px;
        width: 40px;
    }
    .nav-menu li a.backbtn {
        background: none;
        font-size: 14px;
    }
    .social-networks a i {
        font-size: 21px;
    }
    .event-line-wrap .artists {
        color: rgba(0, 0, 0, 1);
    }
    #footer {
        background-color: rgba(0, 0, 0, 0);
        position: relative;
        z-index: 8000;
    }
    
    
    /*MAILCHIMP FORM*/
    .mc4wp-form input[type="text"], .mc4wp-form input[type="email"], .mc4wp-form input[type="tel"], .mc4wp-form input[type="url"], .mc4wp-form input[type="date"], .mc4wp-form input[type="number"], .mc4wp-form select, .mc4wp-form textarea {
    background: transparent;
    border-radius: 0;
    padding: 18px 27px;
    box-sizing: border-box;
    border-width: 2px;
    }
    input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
         background: transparent;   
    }
    
    .mc4wp-form button, .mc4wp-form input[type=submit]{
        margin-left: 0;
        padding: 20px 40px;
        border-radius: 0;
    }
    input[type="email"]::-webkit-input-placeholder{
    color: #fff !important;
    opacity: 1;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: quicksand;
    }
    input[type="email"]:-moz-placeholder { 
    color: #fff !important;
    opacity: 1;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: quicksand;
    }
    input[type="email"]:-ms-input-placeholder { 
    color: #fff !important;
    opacity: 1;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: quicksand;
    }
    .mc4wp-form input[type=text], .mc4wp-form input[type=email], .mc4wp-form input[type=tel], .mc4wp-form input[type=url], .mc4wp-form input[type=date], .mc4wp-form input[type=number], .mc4wp-form select, .mc4wp-form textarea{
    line-height: 30px;
    }
}
/* INDIGO
   ========================================================================== */    

._indigo{
    /* center main menu on big screen only */
    .classic-menu #menu-main-menu {
        @media (min-width:1440px){
            padding-right: 100px!important;
        } 
    }
    /* border-bottom under the main menu */
    .classic-menu > ul > li:not(.logo) > a {
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 40px;
    }
.classic-menu:not(.mini):not(.responsive) > ul > li:not(.logo) > a {
        padding-bottom: 10px;
        border-bottom: 6px solid rgba(0,0,0,0);

    }
    .classic-menu:not(.mini):not(.responsive) > ul > li:not(.logo) > a:hover {
        border-bottom: 6px solid;
    }

    /*Button custom style*/
    .indigo-button-style button, .indigo-button-style a{
        font-weight: bold;
    }
    .mc4wp-form input[type=text], .mc4wp-form input[type=email], .mc4wp-form input[type=tel], .mc4wp-form input[type=url], .mc4wp-form input[type=date], .mc4wp-form select, .mc4wp-form textarea {
      max-width: 290px;
    }
}

/* Beat$
   ========================================================================== */   
._beats{
    span.heading-b3 {
        height: 3px!important;
        width: 45px!important;
    }
    .esg-grid {
        font-family: inherit;
    }
    sup {
        font-size: 22px;
    }
    #wrapper .vc_btn3.vc_btn3-size-lg {
        font-weight: 700;
        padding-left: 65px!important;
        padding-right: 65px!important;
        font-size: 24px!important;
    }
    #footer .footercredit p{
        font-size:13px;
        letter-spacing:2px;
    }
    .mc4wp-form button, .mc4wp-form input[type=submit], .mc4wp-form input[type=button] {
        font-weight: 700;
        border-radius:65px;
        padding-left: 65px!important;
        padding-right: 65px!important;
        font-size: 24px!important;
    }
}

/* Soundman
   ========================================================================== */   
._soundman{
    .vc_icon_element-align-center{
        display: inline-block;
        }
    .vc_icon_element-align-center+.vc_icon_element-align-center{
        margin-left:30px;
    }
    .entry p{
    letter-spacing: 2px;
    }
    .vc_general.vc_btn3{
    letter-spacing: 6px;
    padding: 12px 44px;
    }
    #footer{
    background-color: transparent;
    }
    .sr_it-nav, .sr_it-artist-nav a{
    color: #fff;
    }

    /*Playlist featured image ratio 2:3*/
    @media only screen and (min-width: 1025px) {
        .albumCover {
            width: 464px;
            height: 696px;
        }
    }
    .album-art{
        overflow: hidden;
    }
    /* Remove background because we want to see the background image */
    &.single-album .sr_it-single-post.featured, .single-album #sidebar {
        background: none!important;
    }
}
/* The Crew
   ========================================================================== */   
._thecrew{

    .container, .single .container, .blog .container, .page-template .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    #page-banner.fullscreen-banner, .album-header {
    /* since we're using a boxed layout, we want a more banner-style look */
        height: 70vh;
    }

    #footer {
        background-color:rgba(0,0,0,0);
    }

    span.heading-b3 {
        height: 3px!important;
        width: 45px!important;
    }
    .sr_it-nav, .sr_it-artist-nav a{
    color: #fff;
    }
    .esg-grid {
        font-family: inherit;
    }
    sup {
        font-size: 22px;
    }
    #wrapper .vc_btn3.vc_btn3-size-lg {
        font-weight: 700;
        padding-left: 65px!important;
        padding-right: 65px!important;
        font-size: 24px!important;
    }
    #footer .footercredit p{
        font-size:13px;
        letter-spacing:2px;
    }
    .mc4wp-form {
        margin: auto;
        width: 310px!important;
    }
    .mc4wp-form button, .mc4wp-form input[type=submit], .mc4wp-form input[type=button] {
        font-weight: 700;
        color: #000!important;
        text-transform: uppercase;
        font-family: inherit;
        padding-left: 65px!important;
        padding-right: 65px!important;
        font-size: 24px!important;
    }
    ul.concerts-list li{
        border-bottom: 1px dashed;
    }
    ul.concerts-list {
        border-top: 1px dashed;
    }

    @media (max-width:768px){
        .container{
            padding-left:30px;
            padding-right:30px;
        }
        div .vc_custom_heading.sr_it-inline-block {
            font-size: 38px!important;
            line-height: 46px!important;
        }
    }
    @media (max-width:1200px){
        #overlay {
            background-image: none;
        }
    }
}
._skullz{

    .page-title {
        text-align: center;
    }
    .page-title h1, .error404 h1 {
        display: inline-block;
        border-bottom: 10px solid #dedede;
        padding-bottom: 4px;
    }
    .promotext h1, .promotext h2, .promotext h3, .promotext h4, .promotext h5, .promotext h6 {
        line-height: 2.25vw;
    }
    a.promobox:hover .promosubtext {
        margin-top: 10px;
    }


    #footer {
        background-color:rgba(0,0,0,0);
    }

    span.heading-b3 {
        height: 3px!important;
        width: 45px!important;
    }
    .sr_it-nav, .sr_it-artist-nav a{
    color: #fff;
    }
    .esg-grid {
        font-family: inherit;
    }
    #wrapper .vc_btn3.vc_btn3-size-lg {
        font-weight: 700;
        padding-left: 65px!important;
        padding-right: 65px!important;
        font-size: 24px!important;
    }
    #footer .footercredit p{
        font-size:13px;
        letter-spacing:2px;
    }
    .mc4wp-form {
        margin: auto;
        width: 310px!important;
    }
    .mc4wp-form button, .mc4wp-form input[type=submit], .mc4wp-form input[type=button] {
        font-weight: 700;
        color: #000!important;
        text-transform: uppercase;
        font-family: inherit;
        padding-left: 65px!important;
        padding-right: 65px!important;
        font-size: 24px!important;
    }


    @media (max-width:768px){
       /* .container{
            padding-left:30px;
            padding-right:30px;
        }*/
        div .vc_custom_heading.sr_it-inline-block {
            font-size: 38px!important;
            line-height: 46px!important;
        }
    }
    @media (max-width:1200px){
        #overlay {
            background-image: none;
        }
    }
    @media (max-width: 1400px){
        .promotext h1, .promotext h2, .promotext h3, .promotext h4, .promotext h5, .promotext h6 {
            line-height: 2.8rem;
        }
    }
}


/* Studio
   ========================================================================== */   
._studio{
    /*button*/
    .vc_btn3.vc_btn3-size-md.vc_btn3-shape-round.vc_btn3-style-custom{
        font-weight: 600;
    }
    @media (min-width: 769px) {
        .vc_btn3.vc_btn3-size-md.vc_btn3-shape-round.vc_btn3-style-custom{
            font-size: 21px;
            line-height: 21px;
            padding: 25px 70px;
        }
    }
    /*promobox*/
    .promotext h1, .promotext h2, .promotext h3, .promotext h4, .promotext h5, .promotext h6 {
        line-height: 2.25vw;
    }
    @media only screen and (max-width: 767px){
        .promotext h1, .promotext h2, .promotext h3, .promotext h4, .promotext h5, .promotext h6 {
            line-height: 8vw;
        }
    }
    
    .special-big-text p{
        font-size: 21px;
        line-height: 36px;
        font-weight: 600;
    }
    
    .special-medium-text p{
        font-size: 18px;
        line-height: 28px;
    }
    
    
    /*footer*/
    #footer .container {
        max-width: 1400px;
    }
    #footer form{
    text-align: inherit;
    }
    #footer .vc_btn3.vc_btn3-size-lg .vc_btn3-icon {
        font-size: 34px;
        height: 34px;
        line-height: 34px;
    }
    
    .mc4wp-form input[type=text], .mc4wp-form input[type=email], .mc4wp-form input[type=tel], .mc4wp-form input[type=url], .mc4wp-form input[type=date], .mc4wp-form input[type=number], .mc4wp-form select, .mc4wp-form textarea {
        color: #dfd9df;
        background: transparent;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        padding:  0 15px;
        height: 48px;
        box-sizing: border-box;
        border: 2px solid;
        border-radius: 32px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #footer ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #dfd9df !important;
    opacity: 1 !important;
    }
    #footer ::-moz-placeholder { /* Firefox 19+ */
      color: #dfd9df !important;
    opacity: 1 !important;
    }
    #footer :-ms-input-placeholder { /* IE 10+ */
      color: #dfd9df !important;
    opacity: 1 !important;
    }
    #footer :-moz-placeholder { /* Firefox 18- */
      color: #dfd9df !important;
    opacity: 1 !important;
    }
    
    .mc4wp-form input[type=submit]{
        font-size: 14px;
        line-height: 18px;
        height: 50px;
        text-transform: uppercase;
        font-weight: 500;
        padding:  0 15px;
        border-radius: 32px;
        letter-spacing:1px;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        color: #dfd9df !important;
        box-sizing: content-box;
    }
    
    #footer .mc4wp-form input[type=submit]:hover{
        color: #dfd9df !important;
        background-color: #179a7d !important;  
    }
    
    @media (min-width: 768px) {
        .mc4wp-form input[type=text], .mc4wp-form input[type=email], .mc4wp-form input[type=tel], .mc4wp-form input[type=url], .mc4wp-form input[type=date], .mc4wp-form input[type=number], .mc4wp-form select, .mc4wp-form textarea {
            font-size: 21px;
            line-height: 21px;
            height: 58px;
            width: calc(65% - 70px);
            max-width: 435px;
            box-sizing: content-box;
            margin-left: 0;
            margin-right:8%;
        }
        .mc4wp-form input[type=submit]{
            padding: 0 15px;
            height: 60px;
            width: 25%;
            font-size: 17px;
            line-height: 21px;
            margin-left: 0;
            margin-right: 0;
        }
    }
    
    .footercredit{
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .footercredit a{
        text-decoration: underline;
    }
    
}    
